html,body{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
/*=================================================================================NAVIGATION=======================================================================*/
.navi{
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    margin-top:260px;
    text-align: center;
}
.navi>a{
    display: inline;
    color: whitesmoke;
    font-size: 150%;
    font-weight: 500;
    margin: 2%;
    font-family: 'Caveat', cursive;
}
#reser{
    color: white!important;
    border: 1px solid white;
    padding: 5px;
}
#reser:hover{
    border-bottom: 2px solid gray !important;
    transition: 0.025s all linear;
    color: gray!important;}
.navi>a:hover{
    border-bottom: 2px solid gray !important;
    transition: 0.025s all linear;
    color: gray!important;
}
.img{
    width: 100%;
    min-height: 600px;
    background-image: url('bg.jpg');
}
div>div>div>p{
    position: absolute;
    letter-spacing: 2px;
    color: whitesmoke;
    font-size: 110%;
    margin-left: 32%;
    top: 80px;
}
div>div>div>h1{
    position: absolute;
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 530%;
    font-weight: 800;
    text-align: center;
    margin-left: 25%;
    top: 80px;
}
div>div>div>h5{
    position: absolute;
    letter-spacing: 2px;
    color: whitesmoke;
    font-size: 110%;
    margin-left: 64%;
    top: 205px;
    font-family: 'Architects Daughter'
}
/*=======================================================================MENU=====================================================================================*/
#menu{
    font-size: 450%;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-align: center;
    margin: 20px;
}
.main{
    width: 40%;
    min-height: 1200px;
    border-radius: 5%;
    background-image: url('img11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 30%;
    position: relative;
    margin-top: -120px;
}
.starters{
    width: 27%;
    min-height: 480px;
    border-radius: 20px;
    background-image: url('img12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top: -1100px;
}
.shakes{
    width: 27%;
    min-height: 480px;
    border-radius: 20px;
    background-image: url('img12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left:72%;
    margin-top: -500px;
}
.deserts{
    width: 27%;
    min-height: 480px;
    border-radius: 20px;
    background-image: url('img12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top:-450px;
}
.cakes{
    width: 27%;
    min-height: 480px;
    border-radius: 20px;
    background-image: url('img12.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 72%;
    margin-top: 20px;
}
.main>.info{
    width: 100%;
    height: 100%;
    color: white!important;
    padding: 300px 20px 100px 20px;
}
.main>.info>p{
    position: absolute;
} 

.main>.info>ul{
   
    list-style-type: square;
    color: white;
    position:absolute;
    font-size:104%;
    padding:8% 30px 25% 60px;
    text-transform: uppercase;
}
.main ,.info ul li{
    margin-top: 40px;
}
.cakes>ul>li,.deserts>ul>li,.shakes>ul>li,.starters>ul>li{
    color: white;
    text-transform: uppercase;
    padding: 3%;
    list-style-type: square;
    font-size: 90%;
    margin-left: 5%;
}
.cakes>ul>li>span,.deserts>ul>li>span,.shakes>ul>li>span,.starters>ul>li>span{
    margin-left: 14%;
}
/*=============================================================================ABOUT==================================================================*/
.about{
    width: 60%;
    min-height: 500px;
    text-align: justify;
    margin-left: 20%;
    font-size: 100%;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
}

/*==================================================================================DELIVERY============================================================*/
.delivery{
    display: flex;
    width: 100%;
    min-height: 250px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
#delivery{
    font-size: 450%;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 20px 0px !important;
}
.del{
    width: 25%;
    box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.273);
    border-radius: 3%;
}
.del:hover{
    transform: scale(1.1);
    transition: 0.25s all linear;
}
#skip{
    font-family: 'Mr De Haviland', cursive;
    font-size: 300%;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}

#deli{
    font-size:400%;
    font-family: 'Montez', cursive;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}
/*==============================================================GALLERY========================================================================================*/
.gallery{
    display: flex;
    width: 80%;
    min-height: 190px;
    justify-content: space-evenly;
    margin-left: 10%;
}
.img1{
    width: 25%;
    
}
.img1:hover{
    transform:scale(1.1);
    filter:brightness(1.2);
    transition:  .4s all linear;
    border: 8px solid rgb(50, 50, 68);
}
/*=====================================================================================================FOOTER===============================================*/
.foot{
    margin: 0px;
    padding: 0px;
}
.img2{
    background-image: url('footer.jpg');
    width: 100% !important;
    min-height: 290px;
    margin-top: 10%;
}
.p,.i,.r{
    color: whitesmoke; 
    text-align: center;
    font-size: 140%;
}
.p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-transform: uppercase;
    padding-top: 4%; 
}
.i{
    padding: 2%;
    letter-spacing: 5px;
}
.i>i:hover{
    filter: brightness(0.5);
}
.r{
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

/*=============================================================================================RESPONSIVE=========================================================*/
@media only screen and (min-width: 530px) and (max-width: 1030px){
    #w>h1{
        font-size: 350%;
    }
    #w>h5{
        top:150px ;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        min-height: 190px;
        justify-content: space-evenly;
        margin-left: 10%;
    }
    .img1{
        width: 50% !important;
        min-height: 190px;

        
    }
    
    
}


@media only screen and (min-width:280px) and (max-width: 530px){
     .navi>a{
        font-size: 85%;
    }
    #w>h5{
        visibility: hidden;
    } 
    
    #w>p{
        font-size: 100%;
    }
    #w>h1{
        font-size: 190%;
    }
   
    .main{
        width: 90%;
        min-height: 600px;
        text-align: center;
        margin:20px 0px 0px 0px ;
        position: relative;
        margin-left: 5%;
    }
    
    .starters{
        width: 90%;
        min-height: 480px;
        margin:20px 0px 0px 0px ;
        margin-left: 5%;
    }
    .shakes{
        width: 90%;
        min-height: 480px;
        margin:20px 0px 0px 0px ;
        margin-left: 5%;

    }
    .deserts{
        width: 90%;
        min-height: 480px;
        margin:20px 0px 0px 0px ;
        margin-left: 5%;
    }
    .cakes{
        width: 90%;
        min-height: 480px;
        margin:20px 0px 0px 0px ;
        margin-left: 5%;
    }
    .main>.info{
        width: 100%;
        height: 100%;
        color: white!important;
        padding: 50px 20px 0px 20px ;
    }
    .main>.info>p{
      /* padding: 0px 50px; */
      margin-right:  15%;
    margin-left: 15%;
    } 
    
    .main>.info>ul{
       
        list-style-type: square;
        color: white;
        position:absolute;
        font-size:104%;
        /* padding:8% 30px 25% 60px; */
        text-transform: uppercase;
    }
    .main .info ul li{
        margin-top: 27px;
    }
    .about>h1{
        font-size:50px!important;
    }
    .delivery{
        display: block;
        width: 100%;
        padding: 0px  5%;
        min-height: 600px;
        margin-bottom: 20px;
    }
    #delivery{
        font-size: 450%;
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        text-align: center;
        margin: 0px ;
    }
    .del{
        margin-left: 10%;
        margin-bottom: 40px;
        width: 85%;
        min-height: 250px;
        box-shadow:  0 0 10px 10px rgba(0, 0, 0, 0.273);
        border-radius: 3%;
    }
    #deli{
        font-size: 200%;
    }
    

    .gallery{
        display: block;
        width: 80%;
        min-height: 190px;

    }
    .img1{
        width: 100%;
        min-height: 190px;
        
    }
    .ff{
        display: none;
    }
   
}



@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(50%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}